* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #F7F7F7;
  overflow-x: hidden;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
  position: relative
}

h1 {
  font-size: 5rem;
  margin-bottom: 1.5rem;
  color: #070D0D;
  /*text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);*/
}

h1 span {
  color: #9974BA;
}

.lead {
  color: #9974BA;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  margin: 87px 0;
  /*flex: 0 100%;*/
}

/*Navigation*/

nav {
  /*position: fixed;*/
  /*width: 100%;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  color: #000;
  min-height: 8vh;
  padding: 18px 0;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
}

#contact {
  background-color: #9974BA;
  color: #fff;
  border-radius: 2.3rem;
  padding: 10px 24px;
  text-transform: uppercase;
}

#contact:hover {
  opacity: 0.9;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

/*Navigation end*/

.home {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home p {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  color: #444;
}

.purple-button {
  border: 0.2rem solid #9974BA;
  background: transparent;
  padding: 0.9rem 1.8rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border-radius: 3rem;
}

.purple-button:hover {
  background-color: #9974BA;
  color: #fff;
  transition: background-color 0.25s
              ease 0s, color 0.25s ease 0s;
}

.arrow {
  font-size: 2.5rem;
  color: #9974BA;
  overflow: hidden;
  transition-duration: 0.9s;
  transition-property: transform;
}

.arrow:hover {
  transform: rotate(360deg);
}

.down-arrow {
  margin-top: 70px;
}


/*About section*/

.about {
  /*background: rgb(228,228,214);*/
  /*background: linear-gradient(90deg, rgba(228,228,214,1) 0%, rgba(223,223,223,1) 35%);*/
  height: 58vh;
  transform: skewY(-5deg);
  padding-top: 50px;
  background: linear-gradient(-45deg, #D3C6D9, #DCDCDD, #D3C6D9, #DCDCDD);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.about-content {
    max-width: 60em;
    margin: 0 auto 0 auto;
    transform: skewY(5deg);
    transform: skewY(5deg);
    display: flex;
    padding-top: 50px;
}

.about p {
  line-height: 2;
  font-size: 1.15rem;
  margin: 16px 0 0 50px;
  color: #000;
}

.avatar {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.fa-rocket {
  color: #9974BA;
  margin-left: 4px;
}


/*Projects section*/

.projects {
  height: 500px;
}


/*Footer*/

footer {
  background-color: #000;
  min-height: 42vh;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.top-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -28px;
}

footer span {
  font-size: 1.75rem;
  color: #fff;
  flex: 0 0 100%;
  justify-content: center;
  text-align: center;
}

footer p {
  flex: 0 0 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.15rem;
}

.social {
  background-color: #9974BA;
  border-radius: 50%;
  padding: 12px;
  margin: 0 8px 8px 8px;
  cursor: pointer;
}

.social:hover {
  opacity: 0.8;
}

footer a {
  color: #fff;
}

/*Media queries*/

@media screen and (max-width: 1000px) {
  .nav-links {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 4rem;
  }

  .home p {
    font-size: 1.2rem;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 80vh;
    top: 8vh;
    background-color: #9974BA;
    /*font-size: 40px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }

/*  .nav-active {
    transform: translateX(0%);
  }
*/
  .burger {
    display: block;
    cursor: pointer;
  }

  #contact {
    background-color: #fff;
    color: #9974BA;
  }
  .home {
    flex-direction: column;
  }
  .home div {
    width: 100%;
    padding: 50px;
  }
  h1 {
    text-align: center;
  }

  .about {
    height: 90vh;
  }

  .avatar {
    height: 180px;
    width: 180px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    max-width: 26em;
  }
  .about p {
    font-size: 1rem;
    margin-top: 28px;
  }
}

.nav-active {
    transform: translateX(0%);
}


/*Keyframes*/
/*Navbar*/

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*About section*/

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
